version: '3.8'

services:
  clickhouse:
    image: clickhouse/clickhouse-server:latest
    container_name: heimdall_db
    ports:
      - "8123:8123"
      - "9000:9000"
    volumes:
      - ./ch_data:/var/lib/clickhouse
      - ./ch_logs:/var/log/clickhouse-server
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    cap_add:
      - SYS_NICE
      - NET_ADMIN
      - IPC_LOCK

  ollama:
    image: ollama/ollama:latest
    container_name: heimdall_ai
    ports:
      - "11434:11434"
    volumes:
      - ./ollama_data:/root/.ollama

  tabix:
    image: spoonest/clickhouse-tabix-web-client
    ports:
      - "8080:80"
    depends_on:
      - clickhouse